<div class="form-boxr">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&family=Lato:wght@700&display=swap" rel="stylesheet">

    <form method="POST" action="/register">

        <label for="username">Username:</label>
        <input type="text" name="username" required>



        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" required>


        <label for="age">Age:</label>
        <input type="number" name="age" required>

        <label for="gender">Gender:</label>
        <select name="gender" required>
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>


        <label for="medical_conditions">Medical Conditions:</label>
        <input type="text" name="medical_conditions">

        <input type="submit" value="Sign Up">
        <p back to login><a href="{{ url_for('login') }}">Back to Login</a> </p>
    </form>

</div>